// Variables

$size: 1rem;
$tv-screen-color: linear-gradient(to bottom right, #4b4b4b, #000);
$tv-screen-border: #272725;
$tv-speaker-color: linear-gradient(to right, #171715, #161614);
$tv-leg-color: linear-gradient(to left bottom, #333 0% 20%, #000 60%);
$rgba: rgba(0, 0, 0, 0.4);

$tv-stand-color: #969696;
$remote-color: #262624;
$body-color: #ededed;

$transition-delay: 0.4s;
